<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EQPQ_MakeSpriteFont.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EQPQ_MakeSpriteFont.My.MySettings>
            <setting name="UseAdvancedFontSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppFont" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="AppClrForeground" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="AppClrBackground" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="PreviousEQPaths" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysUseRegex" serializeAs="String">
                <value>True</value>
            </setting>
        </EQPQ_MakeSpriteFont.My.MySettings>
    </userSettings>
</configuration>
